.calculator-wrapper {
  margin: auto;
  width: 50%;
  height: 80vh;
  min-width: 460px;
  min-height: 500px;
  max-width: 700px;
  max-height: 800px;
  border: 1px solid black;
  background-color: black;
  border-radius: 15px;
  margin-top: 200px;

  .display-wrapper {
    margin: auto 30px;
    position: relative;
    display: flex;
    height: calc(100% * 0.2);
    border: 1px solid black;
    border-radius: 10px;

    .display-result {
      overflow-x: scroll;
      background-color: white;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 10px;
      border-radius: 10px;
      height: calc(100% * 0.7);
      width: 100%;
      position: relative;
      align-items: center;
      font-size: 50px;
      padding-right: 10px;
      font-weight: bold;
      margin: auto;
      display: flex;
      flex-direction: row-reverse;
      white-space: nowrap;
    }
  }

  .input-wrapper {
    width: 100%;
    height: calc((100% * 0.8) * 0.8);
    display: flex;
    flex-direction: row;

    .number-pad {
      width: 75%;
      display: grid;
      position: relative;
      flex-direction: row-reverse;
      grid-template-rows: repeat(4, minmax(50px, 1fr));

      .number.row-0,
      .number.row-1,
      .number.row-2 {
        direction: rtl;
      }

      .number {
        position: relative;
        display: grid;
        /* flex-direction: row; */
        grid-template-columns: repeat(3, minmax(80px, 1fr));

        .number {
          background-color: white;
          margin: 12px 20px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          min-width: 75px;
          min-height: 50px;
          border-radius: 5px;
          font-weight: bold;
        }
        .number.item-0 {
          margin: 12px 20px;
          grid-column: 1/3;
          width: calc(100% - 40px);
          order: 0;
        }
      }
    }

    .simple-fn-pad {
      width: 25%;
      position: relative;
      display: flex;
      flex-direction: column;

      .function {
        background-color: white;
        margin: 12px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        min-width: 75px;
        min-height: 50px;
        border-radius: 5px;
        font-weight: bold;
        height: 100%;
      }
    }
  }
  .equal-wrapper {
    position: relative;
    display: flex;
    height: calc((100% * 0.8) * 0.2);

    .equal-fn {
      margin: 12px 20px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f88c3c;
      font-size: 40px;
      width: calc(100% - 40px);
      min-height: 50px;
      border-radius: 5px;
    }
  }
}
